{% extends 'base.html' %} 
{% block content %}
<head>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"/>
</head>

<body>
    <div>
        <h2 style="font-family: serif; color:rgb(80, 50, 125);">Add a Recipe</h2>
        <form id='RecipeForm' method="POST" style="margin-top: 1.3em;">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <button type="submit" class="save btn btn-default">Add</button>
        </form>
    </div>
</body>
{% endblock content %}
