<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Idea</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"/>
  </head>

  <body>
    <nav>
      <div class="navbar">
          <a href="{% url 'home' %}" >Home</a>
          <a href="{% url 'add' %}" >Add a recipe</a>
          <a href="{% url 'login' %}" >Log In</a>
          <a href="{% url 'register' %}" >Sign Up</a>
      </div>
    </nav>


            {% block content %}
            {% endblock content %}

    <footer>
              <p>COSC 2418 Final Project by Mason Hall</p>
    </footer>

  </body>
</html>
